 :root {
     --primary: #6185F8;
     --secondary: #f5c69d;
     --terciary: #954B0C;
     --medium: #684632;
     --enemy:#EEAF36;
 }

 * {
     padding: 0;

     margin: 0;

 }

 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 .highlight{
    text-decoration: underline;
    background-color: #e39047;

 }


 body {
     background-image: linear-gradient(to bottom,
             rgba(85, 85, 85, 0.232),
             rgba(157, 157, 160, 0.202)), url(IMG_0231.JPG);
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1082%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(243%2c 164%2c 53%2c 1)'%3e%3c/rect%3e%3cpath d='M1536 900L0 900 L0 558.39Q84.52 522.91%2c 120 607.43Q125.75 541.18%2c 192 546.94Q215.14 498.08%2c 264 521.22Q318.35 455.57%2c 384 509.92Q501.22 507.14%2c 504 624.37Q550.32 550.69%2c 624 597.02Q628.64 529.66%2c 696 534.31Q748.88 467.19%2c 816 520.07Q914.48 498.55%2c 936 597.03Q980.62 569.65%2c 1008 614.27Q1029.91 564.18%2c 1080 586.1Q1103.24 489.34%2c 1200 512.58Q1222.51 463.09%2c 1272 485.6Q1327.04 468.64%2c 1344 523.68Q1404.28 511.96%2c 1416 572.25Q1500.84 537.09%2c 1536 621.93z' fill='rgba(55%2c 97%2c 179%2c 1)'%3e%3c/path%3e%3cpath d='M1512 900L0 900 L0 611.8Q112.69 604.49%2c 120 717.18Q121.32 598.5%2c 240 599.82Q305.18 545%2c 360 610.18Q421.92 600.1%2c 432 662.02Q522.4 632.42%2c 552 722.82Q573.33 672.15%2c 624 693.49Q670.88 620.38%2c 744 667.26Q762.08 613.34%2c 816 631.41Q865.7 561.11%2c 936 610.81Q1031.91 586.72%2c 1056 682.63Q1085.81 592.44%2c 1176 622.25Q1201.35 575.6%2c 1248 600.94Q1338.65 571.59%2c 1368 662.24Q1426.25 648.5%2c 1440 706.75Q1441.05 635.8%2c 1512 636.84z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1488 900L0 900 L0 706.1Q61.76 647.87%2c 120 709.63Q195.11 664.74%2c 240 739.84Q333.35 713.19%2c 360 806.54Q372.31 746.85%2c 432 759.16Q474.14 681.3%2c 552 723.44Q599.95 699.39%2c 624 747.35Q696.53 747.88%2c 696 820.42Q761.05 765.47%2c 816 830.52Q829.96 724.48%2c 936 738.44Q952.57 683.01%2c 1008 699.57Q1079.55 651.12%2c 1128 722.67Q1199.28 721.95%2c 1200 793.23Q1248.59 769.82%2c 1272 818.41Q1286.63 761.04%2c 1344 775.67Q1355.03 714.7%2c 1416 725.73Q1460.94 698.67%2c 1488 743.62z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 900L0 900 L0 796.88Q100.48 825.36%2c 72 925.84Q125 858.84%2c 192 911.83Q239.71 839.54%2c 312 887.25Q345.45 800.7%2c 432 834.16Q455.18 785.34%2c 504 808.51Q569.12 753.63%2c 624 818.74Q697.46 820.2%2c 696 893.66Q762.11 839.77%2c 816 905.88Q861.23 831.11%2c 936 876.33Q938.59 806.92%2c 1008 809.51Q1038.03 767.54%2c 1080 797.57Q1133.02 778.59%2c 1152 831.61Q1179.01 786.62%2c 1224 813.63Q1251.48 769.11%2c 1296 796.58Q1386.83 767.41%2c 1416 858.24Q1460.76 831%2c 1488 875.75z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1082'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");     background-size: cover;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 133%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M1488 900L0 900 L0 588.69Q24.8 541.5%2c 72 566.3Q91.56 465.86%2c 192 485.42Q236.07 457.5%2c 264 501.57Q383.87 501.44%2c 384 621.31Q403.41 568.72%2c 456 588.14Q459.44 519.58%2c 528 523.01Q557.98 480.99%2c 600 510.96Q652.65 491.61%2c 672 544.26Q722.09 522.35%2c 744 572.44Q830.3 538.75%2c 864 625.05Q880.37 569.42%2c 936 585.79Q986.4 516.19%2c 1056 566.6Q1139.3 529.89%2c 1176 613.19Q1179.74 544.93%2c 1248 548.68Q1291.74 472.42%2c 1368 516.17Q1455.39 483.57%2c 1488 570.96z' fill='rgba(238%2c 175%2c 54%2c 1)'%3e%3c/path%3e%3cpath d='M1512 900L0 900 L0 652.16Q53.95 634.11%2c 72 688.05Q77.07 621.12%2c 144 626.19Q183.93 546.12%2c 264 586.05Q332.38 534.43%2c 384 602.82Q506 604.82%2c 504 726.81Q515.46 618.27%2c 624 629.73Q648.84 582.57%2c 696 607.41Q744.58 535.99%2c 816 584.57Q870.01 566.58%2c 888 620.59Q1002.88 615.47%2c 1008 730.34Q1033.87 684.21%2c 1080 710.07Q1122.4 632.47%2c 1200 674.87Q1213.95 568.82%2c 1320 582.77Q1361.8 552.57%2c 1392 594.36Q1457.18 539.54%2c 1512 604.72z' fill='rgba(104%2c 70%2c 50%2c 1)'%3e%3c/path%3e%3cpath d='M1488 900L0 900 L0 797.1Q44.08 769.18%2c 72 813.26Q113.49 782.75%2c 144 824.23Q161.88 770.11%2c 216 787.99Q246.5 698.5%2c 336 729Q378.98 699.98%2c 408 742.96Q508.34 723.3%2c 528 823.64Q538.88 762.52%2c 600 773.4Q630.03 731.43%2c 672 761.47Q721.31 690.78%2c 792 740.08Q806.81 682.89%2c 864 697.71Q937.64 651.35%2c 984 724.99Q1097.64 718.63%2c 1104 832.28Q1104.35 712.63%2c 1224 712.98Q1254.55 671.53%2c 1296 702.08Q1347.58 681.66%2c 1368 733.25Q1462.39 707.64%2c 1488 802.03z' fill='rgba(149%2c 75%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1512 900L0 900 L0 863.19Q71.71 862.9%2c 72 934.61Q80.14 870.75%2c 144 878.9Q162.04 824.94%2c 216 842.98Q252.31 759.29%2c 336 795.59Q385.27 772.87%2c 408 822.14Q504.99 799.13%2c 528 896.12Q577.46 873.58%2c 600 923.04Q645.43 896.47%2c 672 941.91Q677.63 827.54%2c 792 833.17Q819.51 788.68%2c 864 816.19Q889.45 769.64%2c 936 795.1Q1025.69 764.8%2c 1056 854.49Q1098.26 824.75%2c 1128 867.02Q1158.15 777.17%2c 1248 807.33Q1292.84 780.17%2c 1320 825.01Q1398.72 831.73%2c 1392 910.44Q1467.1 865.54%2c 1512 940.64z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1091%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 133%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M1488 900L0 900 L0 510.52Q71.13 461.64%2c 120 532.77Q174.66 515.43%2c 192 570.09Q235.63 541.72%2c 264 585.35Q309.96 511.31%2c 384 557.27Q413.54 466.81%2c 504 496.35Q585.8 458.15%2c 624 539.96Q709.47 505.43%2c 744 590.9Q793.75 520.64%2c 864 570.39Q888.62 523%2c 936 547.62Q963.81 455.43%2c 1056 483.25Q1132.42 439.67%2c 1176 516.09Q1279.11 499.2%2c 1296 602.31Q1319.21 505.51%2c 1416 528.72Q1434.95 475.67%2c 1488 494.62z' fill='rgba(245%2c 198%2c 157%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 626.13Q99.57 605.7%2c 120 705.28Q132.3 597.58%2c 240 609.87Q306.02 555.89%2c 360 621.92Q421.33 611.25%2c 432 672.57Q475.63 596.2%2c 552 639.82Q638.72 606.54%2c 672 693.25Q697.18 598.43%2c 792 623.62Q835.79 595.41%2c 864 639.2Q945.05 600.25%2c 984 681.3Q989.15 614.45%2c 1056 619.61Q1084.65 576.26%2c 1128 604.92Q1182.36 587.28%2c 1200 641.64Q1266.15 635.79%2c 1272 701.94Q1320.13 678.07%2c 1344 726.19Q1345.25 607.44%2c 1464 608.69z' fill='rgba(104%2c 70%2c 50%2c 1)'%3e%3c/path%3e%3cpath d='M1536 900L0 900 L0 834.34Q40.82 755.16%2c 120 795.98Q120 723.99%2c 192 723.99Q221.45 681.44%2c 264 710.9Q371.9 698.8%2c 384 806.7Q431.25 781.95%2c 456 829.2Q475.08 776.28%2c 528 795.35Q516.28 711.63%2c 600 699.92Q654.73 634.65%2c 720 689.38Q792.06 641.44%2c 840 713.51Q915.58 717.09%2c 912 792.67Q977.26 737.93%2c 1032 803.2Q1102.59 753.79%2c 1152 824.38Q1153.41 753.79%2c 1224 755.2Q1261.04 672.24%2c 1344 709.27Q1372.14 665.41%2c 1416 693.55Q1509.78 667.33%2c 1536 761.1z' fill='rgba(149%2c 75%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 823.42Q94.74 798.16%2c 120 892.91Q164.78 817.69%2c 240 862.47Q259.58 810.05%2c 312 829.62Q398.45 796.07%2c 432 882.52Q449.91 828.43%2c 504 846.35Q575.3 797.65%2c 624 868.95Q692.37 817.32%2c 744 885.68Q752.5 822.18%2c 816 830.68Q841.02 783.7%2c 888 808.72Q943.86 792.58%2c 960 848.43Q1061.51 829.94%2c 1080 931.45Q1084.17 863.62%2c 1152 867.79Q1177.19 772.98%2c 1272 798.18Q1341.37 747.55%2c 1392 816.92Q1455.26 808.17%2c 1464 871.43z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1091'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 133%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M1512 900L0 900 L0 524.87Q83.78 488.65%2c 120 572.43Q222.05 554.48%2c 240 656.53Q286.39 582.92%2c 360 629.31Q349.37 546.68%2c 432 536.05Q463.99 448.04%2c 552 480.03Q625.88 433.91%2c 672 507.79Q701.35 465.14%2c 744 494.49Q795.51 474%2c 816 525.51Q870.36 459.87%2c 936 514.23Q957.83 464.06%2c 1008 485.89Q1049.84 455.73%2c 1080 497.57Q1164.02 461.59%2c 1200 545.6Q1317.54 543.14%2c 1320 660.68Q1345.06 613.74%2c 1392 638.8Q1427.43 554.23%2c 1512 589.66z' fill='rgba(104%2c 70%2c 50%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 719.89Q70.72 718.61%2c 72 789.33Q125.02 722.35%2c 192 775.37Q201.99 713.36%2c 264 723.34Q308.2 695.54%2c 336 739.73Q350.55 682.28%2c 408 696.82Q475.41 644.24%2c 528 711.65Q531.59 643.24%2c 600 646.83Q668.18 595.01%2c 720 663.19Q813.12 636.31%2c 840 729.42Q920.56 689.98%2c 960 770.55Q1035.72 726.27%2c 1080 802Q1094.6 696.6%2c 1200 711.19Q1240.53 631.73%2c 1320 672.26Q1332.17 612.43%2c 1392 624.61Q1433.82 594.43%2c 1464 636.25z' fill='rgba(149%2c 75%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 779.04Q82.35 741.38%2c 120 823.73Q213.71 845.44%2c 192 939.16Q148.13 823.29%2c 264 779.42Q385.06 828.48%2c 336 949.55Q310.33 851.88%2c 408 826.2Q427.25 773.46%2c 480 792.71Q507.79 748.5%2c 552 776.3Q606.45 758.75%2c 624 813.2Q713.08 830.28%2c 696 919.36Q737.23 888.59%2c 768 929.82Q837.08 878.9%2c 888 947.98Q918.53 858.51%2c 1008 889.05Q988.56 797.61%2c 1080 778.17Q1130.76 708.92%2c 1200 759.68Q1308.38 748.05%2c 1320 856.43Q1341.94 806.37%2c 1392 828.31Q1401.24 765.54%2c 1464 774.78z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1098'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-color: #ae863032;
 

 }
.bg1{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 133%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c421 C 48%2c350.8 144%2c88.8 240%2c70 C 336%2c51.2 384%2c309.4 480%2c327 C 576%2c344.6 624%2c173.6 720%2c158 C 816%2c142.4 864%2c274.8 960%2c249 C 1056%2c223.2 1104%2c12.6 1200%2c29 C 1296%2c45.4 1392%2c270.6 1440%2c331L1440 900L0 900z' fill='rgba(104%2c 70%2c 50%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c731 C 96%2c700.8 288%2c549.8 480%2c580 C 672%2c610.2 768%2c876.2 960%2c882 C 1152%2c887.8 1344%2c663.6 1440%2c609L1440 900L0 900z' fill='rgba(238%2c 175%2c 54%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}


 .title {

     margin: .5rem;
 }

 .container {
     padding: 0.24rem;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
 }



 .note-text {
     font-size: .75rem;
     color: rgb(39, 38, 38);
     /*   background-color: #0f6e9d19; */
     /*    box-shadow: 8px 8px #0f6e9d19; */
     border-radius: 2px;
     padding: .2rem;

 }


 .container2 {
     padding: 0.24rem;
     display: flex;
     align-items: start;
     justify-content: center;
     flex-direction: row-reverse;
     flex-wrap: wrap;
 }

 .container3 {
     display: flex;
    /*    min-height: 50vh; */
   
 }
 .canvas{
    display: flex;
    flex-direction: column;
  
    flex-wrap: wrap;
/*     border: 5px solid blue; */
    border-radius: 15px;
    margin-left: 2rem;
    justify-items: center;
 }

 .canvas h1{
  color:white;
  text-align: center;
 }
 .canvas-box{
    display: grid;
    border: 5px solid rgb(61, 31, 1);
    border-radius: 15px;
    grid-template-columns: 1fr 1fr 1fr;
 }
 .cursor {
     cursor: pointer;
 }

 .note-edited {
     font-size: .6rem;
     color: #000000;
     font-family: 'Times New Roman', Times, serif;

     padding: 0.2rem;

 }


 .container4 {
     display: inline-flex;
     justify-content: space-around;
     align-content: center;
     width: 100%;
 }

 .note {
     padding: 0.24rem;
     margin: 0.5rem;
     max-width: 20vw;
     min-width: 20vw;
     border: 3px groove #954B0C;
     border-radius: 12px;
     min-width: 12rem;
     padding: .5rem;
     min-height: 7rem;
     color: rgb(28, 27, 27);
     display: flex;
     align-items: center;
     justify-content: space-around;
     font-family: Calibri, 'Trebuchet MS', sans-serif;
     background-color: var(--secondary);
     box-shadow: rgba(38, 38, 57, 0.56) 0px 50px 100px -20px, rgba(0, 0, 0, 0.475) 0px 30px 60px -30px;
     transition: 0.4s all;


 }
 .note:hover {
    background-color: rgb(213, 200, 159);
    box-shadow: rgba(32, 32, 33, 0.815) 15px 15px 15px -2px, rgba(0, 0, 0, 0.475) 15px 3px 60px -3px;
    transform: translateY(-7px) ;
      
                           ;
 
 }
 .note.selected {
    transform: scale(.8) rotate(-1deg);
    background-color: rgba(187, 158, 72, 0.596);
 }
 .note.drag {
   opacity: 0.5;
 }

 .note-tags {
     /*  background-color: var(--primary); */

     display: block;
     width: 100%;
     height: 33%;
     ;
     text-align: center;
     border-radius: 20rem;

 }

 .note-title {
     color: rgb(199, 195, 195);
     color: #f7fafb;
     letter-spacing: 1.2px;
     text-shadow: 7px 7px 4px rgb(70, 69, 69),
         5px 5px 4px rgb(70, 69, 69),
         2px 2px 2px rgb(70, 69, 69),
         0px 0px 4px rgb(70, 69, 69);
 }



 .tag {
     background-color: rgba(210, 174, 108, 0.897);
     border-radius: 8px;
     padding: 0.1rem 0.35rem;
     box-shadow: 2px 2px #423c23ca;
     /* border: 2px solid black; */
     color: rgb(42, 11, 11);
    background-image: url('');
     margin: 1.5rem 0.2rem;
    transition: 0.2s all;
     font-size: .55rem;
     font-weight: 900;
     font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 .tag:hover{
    color:#f4daa6;
    background-color: #875c05;
    transform: rotate(20deg);
 }

 .options,
 select option {
     background-color: grey;
     color: rgb(250, 248, 248);
     border-radius: 5px;
 }


 .glow {
     color: #444;
     text-shadow:
         1px 0px 1px #ccc, 0px 1px 1px #eee,
         2px 1px 1px #ccc, 1px 2px 1px #eee,
         3px 2px 1px #ccc, 2px 3px 1px #eee,
         4px 3px 1px #ccc, 3px 4px 1px #eee,
         5px 4px 1px #ccc, 4px 5px 1px #eee,
         6px 5px 1px #ccc, 5px 6px 1px #eee,
         7px 6px 1px #ccc;
 }



 .filter {
     margin: 1rem;
 }

 .form input,
 button,
 textarea {
     border-radius: 10px;
     border: 2px solid rgb(97, 75, 2);
     padding: .5rem;
     margin: .4rem 2.4rem;
     background: transparent;
     background-color: rgba(104, 103, 103, 0.499);
     color: white;
 }

 label {
     color: #efeae0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 0.2rem;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 1.25rem;
 }


 .note-btn {
     margin-top: 0.95rem;
     font-size: 1.5rem;
     fill: #875c05;
     transition: 0.4s transform, .4s rotate, .2s fill;
 }

 .note-btn:hover {
     transform: scale(1.2);
     rotate: calc(360deg);
     fill: #cf8c06;
 }

 .note-btn:active {
     fill: #543801;
     transform: scale(.85);
 }

 .test-dialog {

     border-radius: 15px;
     /*      border-radius : 190px 190px 25px 25px; */
     /*             clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
     border: none;
     padding: 1.01rem;
     margin: auto;
     border: 5px solid rgb(75, 58, 1);
     /*          display: flex;
            flex-direction: column; */
     background-color: rgb(137, 135, 135);
     box-shadow: 0 0 2rem 1rem rgb(64, 63, 63);
     position: relative;
  
 }
 

 
 dialog::backdrop {
     background-color: rgba(141, 141, 131, 0.755);
 }


 .close-dialog {
     display: inline-block;
     text-align: right;
     font-size: 1.25rem;
     position: absolute;
     /* Cambiar a posición absoluta */
     top: 1rem;
     /* Ajustar la posición vertical */
     right: 1rem;
     /* Ajustar la posición a la derecha */
     margin-left: auto;
     fill: #750505;
     transition: 0.4s transform, .4s rotate, 0.4s fill;
 }

 .close-dialog:hover {
     transform: scale(1.2);
     rotate: calc(720deg);
     fill: #fd2109;
 }

 .close-dialog:active {
    fill: #791106;
    transform: scale(.85);
} 
 .tag-btn{
    color:#574603;
    background-color: #dbae1b7a;
    border-radius: 50%;
    font-size: 0.5rem;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.4px;
    transition:0.4s all;

 }
 .tag-btn:hover{
    background-color: #f5c9387a;
    color:#342a01;
    transform: translateY(-2px);

 }

 .tag-btn:active{
    background-color: #b38b057a;
    color:#e9c948;
    transform: translateY(-2px) rotate(90deg) scale(0.85);

    

 }
 .delete, .update, .archived{
    fill:#382e06;
    transition: all 0.4s;
    font-size: .75rem;
 }

 .delete:hover, .update:hover, .archived:hover{
    fill:#8a7210;
    
 }

 .delete:active, .update:active, .archived:active{
    fill:#403403;
 }

 .green{
    background-color: var(--terciary);
    opacity: 0.8;
 }

 #btn-color{
    padding:0.25rem;
    background-color: transparent;
    border-color: var(--primary);
 }
 
 .hide {
    /*      transform: translate(-950px); */
    display: none;
}

 @media screen and (max-width: 750px) {
     .grid {
         grid-template-columns: 1fr;
     }
     .form input,
     button,
     textarea {
  
         margin: .4rem 0.8rem;
   
     }
 }




 .links {
     /*  TO HIDE THE NAVBAR ELEMENTOS */
     list-style-type: none;
     height: 0;
     overflow: hidden;
     transition: .5s all;
 }

 .show-links {
     /*  SHOW ELEMENTS */
     height: 10rem;
     color: white;

 }

 .links li {
     font-size: 1.2rem;
     padding: 0.5rem;
     margin: 0.25rem;
 }

 .nav-header {

     display: flex;
     align-content: center;
     justify-content: space-between;
     color: white;
     margin-left: 2.6rem;
     align-items: center;
     font-size: 1.5rem;


 }

 ul{
    margin-right: 2.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .nav-center {
     background-color: #02215088;
 }


 .nav-toggle {
     /*  ACA ESCONDO EL HAMBURG MENU EN PANTALLA GRANDE */
     width: 2.5rem;
     background-color: rgba(19, 41, 97, 0.869);
     border: none;
 }
 .svg-inline--fa.fa-w-14{
    font-size: 1.25rem;
 }

 @media screen and (min-width:800px) {

     .nav-center {


         display: flex;
         align-items: center;
         justify-content: space-between;
         /*   padding:1rem */
     }

     .nav-header {
         padding: 0;
     }

     .nav-toggle {
         /*  ACA ESCONDO EL HAMBURG MENU EN PANTALLA GRANDE */
         display: none;
     }

     .links {
         /*  NAVABAR MAGICCCCCC */
         display: flex;
         /* Aca esta la magia de que los links se alinean bien */
         height: auto;
         /* y aca para que tengan altura auto y no se muestren uno encima dle otro */

     }

     .links li {
         transition: .5s all;
         padding: 0;
         margin: 0.25rem .75rem;
         color: white;
      
     }
     
      li a {
        color: white;
    }

     .links li:hover {
         transform: translateY(-0.25rem);
         color: rgb(144, 144, 149);
         background: transparent;
     }

     .nav-center {

         padding: 0 2rem;


     }
 }