 
        :root {
            --primary: #8c7548;
            --secondary: #FEF2C1;
            --terciary: #AB625B;
        }

        * {
            padding: 0;

            margin: 0;

        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
 

        body {
            background-image: linear-gradient(to bottom,
                    rgba(85, 85, 85, 0.232),
                    rgba(157, 157, 160, 0.202)), url(IMG_0231.JPG);
            color: rgb(224, 218, 218);
            background-position: center;
            background-size: cover;

        }

        .title {

            margin: .5rem;
        }

        .container {
            padding: 0.24rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }

        .hide{
      /*      transform: translate(-950px); */
           display: none;
        }

        .container2 {
            padding: 0.24rem;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: row-reverse;
            flex-wrap: wrap;
        }

        .note {
            padding: 0.24rem;
            margin: 0.5rem;
            max-width: 40vw;
            min-width: 20vw;
            border: 1px solid black;
            background: rgb(244, 237, 244);
            border-radius: 45px;
            min-width: 15rem;
            padding: .5rem;
            min-height: 7rem;
            color: rgb(28, 27, 27);
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            /*             background: linear-gradient(180deg,   rgba(9, 4, 69, 0.822)0%, rgb(148, 146, 146) 67%, rgba(96, 81, 51, 0.593) 80%);
                     */
            background: transparent;
            background-color: rgba(128, 128, 125, 0.529);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


        }

        .note-tags {
            /*  background-color: var(--primary); */

            display: block;
            width: 100%;
            height: 33%;
            ;
            text-align: center;
            border-radius: 20rem;
            ;
        }

        .note-title {
            color: rgb(199, 195, 195);
            color: #d2d8d9;
            text-shadow: 7px 7px 4px rgb(70, 69, 69),
            5px 5px 4px rgb(70, 69, 69),
            2px 2px 2px rgb(70, 69, 69),
            0px 0px 4px rgb(70, 69, 69),
            -2px -2px 4px rgb(40, 38, 38);
        }



        .tag {
            background-color: var(--primary);
            border-radius: 15px;
            padding: .25rem;
            /* border: 2px solid black; */
            color: rgb(3, 0, 0);
            margin-top: 4rem;
            font-size: .55rem;
            font-weight: 900;
            font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }
        .options, 
        select option{
            background-color: grey;
            color: rgb(250, 248, 248);
            border-radius: 5px;
        }


        .glow {
            color: #444;
            text-shadow:
                1px 0px 1px #ccc, 0px 1px 1px #eee,
                2px 1px 1px #ccc, 1px 2px 1px #eee,
                3px 2px 1px #ccc, 2px 3px 1px #eee,
                4px 3px 1px #ccc, 3px 4px 1px #eee,
                5px 4px 1px #ccc, 4px 5px 1px #eee,
                6px 5px 1px #ccc, 5px 6px 1px #eee,
                7px 6px 1px #ccc;
        }

        .box {
            border-radius: 15px;
            padding: .75rem;
            /*  border: 5px solid black; */
            box-shadow: 5px 5px 55px 55px rgba(53, 52, 52, 0.527);
            /*   background-color: rgba(109, 111, 110, 0.196); */

        }

        .filter {
            margin: 1rem;
        }

        .form input,
        button,
        textarea {
            border-radius: 15px;
            padding: .25rem;
            margin: 0.4rem;
            background: transparent;
            background-color: rgba(251, 251, 245, 0.104);
            color: white;
        }

        button {
            background-color: rgb(61, 60, 60);
        }

        @media screen and (max-width: 750px) {
            .grid {
                grid-template-columns: 1fr;
            }
        }
 


        
    .links{  /*  TO HIDE THE NAVBAR ELEMENTOS */
        list-style-type: none; 
        height: 0; 
        overflow: hidden;
        transition: .5s all;
    }
    .show-links{   /*  SHOW ELEMENTS */
        height: 10rem;

    }

    .links li {
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 0.25rem;
    }   

    .nav-header{
 
        display: flex;
        align-content: center;
        justify-content:space-between;
         
    
    }
    .nav-center{
        background-color: #44444488;
    }

 
        .nav-toggle{    /*  ACA ESCONDO EL HAMBURG MENU EN PANTALLA GRANDE */
            width: 3rem;
            background-color:  rgba(60, 58, 58, 0.869);
            border: none;
        }
        
        @media screen and (min-width:800px){

            .nav-center{
                 
                
                display: flex;
                align-items: center;
                justify-content: space-between;
              /*   padding:1rem */
            }
            .nav-header{
                padding:0;
            }
            .nav-toggle{    /*  ACA ESCONDO EL HAMBURG MENU EN PANTALLA GRANDE */
                display: none;
            }
        
            .links{    /*  NAVABAR MAGICCCCCC */
                display: flex;   /* Aca esta la magia de que los links se alinean bien */
                height: auto;      /* y aca para que tengan altura auto y no se muestren uno encima dle otro */
               
            }
            .links li{
             transition: .5s all;
             padding:0;
             margin:0.25rem .75rem;
            }
            .links li:hover{
                transform:translateY(-0.25rem) ;
                 color: rgb(144, 144, 149);
                background:transparent;
            }
        
            .nav-center{
         
             padding: 0 2rem;
                
            
            }
         }       