 :root {
     --primary: #6185F8;
     --secondary: #a6552a; /*  #a6552a */
     /*  #f5c69d; */
     --terciary: #a27029;
     --medium: #684632;
    --brown:#983502;
     --enemy: #752f0c;
     --green:#80D010;

     --text-color: #FCFCFC;
 }

 * {
     padding: 0;

     margin: 0;

 }

 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 .btn-active {
     text-decoration: underline;
      

 }


 body {
     background-image: linear-gradient(to bottom,
             rgba(85, 85, 85, 0.232),
             rgba(157, 157, 160, 0.202)), url(IMG_0231.JPG);
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1082%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(243%2c 164%2c 53%2c 1)'%3e%3c/rect%3e%3cpath d='M1536 900L0 900 L0 558.39Q84.52 522.91%2c 120 607.43Q125.75 541.18%2c 192 546.94Q215.14 498.08%2c 264 521.22Q318.35 455.57%2c 384 509.92Q501.22 507.14%2c 504 624.37Q550.32 550.69%2c 624 597.02Q628.64 529.66%2c 696 534.31Q748.88 467.19%2c 816 520.07Q914.48 498.55%2c 936 597.03Q980.62 569.65%2c 1008 614.27Q1029.91 564.18%2c 1080 586.1Q1103.24 489.34%2c 1200 512.58Q1222.51 463.09%2c 1272 485.6Q1327.04 468.64%2c 1344 523.68Q1404.28 511.96%2c 1416 572.25Q1500.84 537.09%2c 1536 621.93z' fill='rgba(55%2c 97%2c 179%2c 1)'%3e%3c/path%3e%3cpath d='M1512 900L0 900 L0 611.8Q112.69 604.49%2c 120 717.18Q121.32 598.5%2c 240 599.82Q305.18 545%2c 360 610.18Q421.92 600.1%2c 432 662.02Q522.4 632.42%2c 552 722.82Q573.33 672.15%2c 624 693.49Q670.88 620.38%2c 744 667.26Q762.08 613.34%2c 816 631.41Q865.7 561.11%2c 936 610.81Q1031.91 586.72%2c 1056 682.63Q1085.81 592.44%2c 1176 622.25Q1201.35 575.6%2c 1248 600.94Q1338.65 571.59%2c 1368 662.24Q1426.25 648.5%2c 1440 706.75Q1441.05 635.8%2c 1512 636.84z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1488 900L0 900 L0 706.1Q61.76 647.87%2c 120 709.63Q195.11 664.74%2c 240 739.84Q333.35 713.19%2c 360 806.54Q372.31 746.85%2c 432 759.16Q474.14 681.3%2c 552 723.44Q599.95 699.39%2c 624 747.35Q696.53 747.88%2c 696 820.42Q761.05 765.47%2c 816 830.52Q829.96 724.48%2c 936 738.44Q952.57 683.01%2c 1008 699.57Q1079.55 651.12%2c 1128 722.67Q1199.28 721.95%2c 1200 793.23Q1248.59 769.82%2c 1272 818.41Q1286.63 761.04%2c 1344 775.67Q1355.03 714.7%2c 1416 725.73Q1460.94 698.67%2c 1488 743.62z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 900L0 900 L0 796.88Q100.48 825.36%2c 72 925.84Q125 858.84%2c 192 911.83Q239.71 839.54%2c 312 887.25Q345.45 800.7%2c 432 834.16Q455.18 785.34%2c 504 808.51Q569.12 753.63%2c 624 818.74Q697.46 820.2%2c 696 893.66Q762.11 839.77%2c 816 905.88Q861.23 831.11%2c 936 876.33Q938.59 806.92%2c 1008 809.51Q1038.03 767.54%2c 1080 797.57Q1133.02 778.59%2c 1152 831.61Q1179.01 786.62%2c 1224 813.63Q1251.48 769.11%2c 1296 796.58Q1386.83 767.41%2c 1416 858.24Q1460.76 831%2c 1488 875.75z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1082'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
     background-size: cover;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 133%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M1488 900L0 900 L0 588.69Q24.8 541.5%2c 72 566.3Q91.56 465.86%2c 192 485.42Q236.07 457.5%2c 264 501.57Q383.87 501.44%2c 384 621.31Q403.41 568.72%2c 456 588.14Q459.44 519.58%2c 528 523.01Q557.98 480.99%2c 600 510.96Q652.65 491.61%2c 672 544.26Q722.09 522.35%2c 744 572.44Q830.3 538.75%2c 864 625.05Q880.37 569.42%2c 936 585.79Q986.4 516.19%2c 1056 566.6Q1139.3 529.89%2c 1176 613.19Q1179.74 544.93%2c 1248 548.68Q1291.74 472.42%2c 1368 516.17Q1455.39 483.57%2c 1488 570.96z' fill='rgba(238%2c 175%2c 54%2c 1)'%3e%3c/path%3e%3cpath d='M1512 900L0 900 L0 652.16Q53.95 634.11%2c 72 688.05Q77.07 621.12%2c 144 626.19Q183.93 546.12%2c 264 586.05Q332.38 534.43%2c 384 602.82Q506 604.82%2c 504 726.81Q515.46 618.27%2c 624 629.73Q648.84 582.57%2c 696 607.41Q744.58 535.99%2c 816 584.57Q870.01 566.58%2c 888 620.59Q1002.88 615.47%2c 1008 730.34Q1033.87 684.21%2c 1080 710.07Q1122.4 632.47%2c 1200 674.87Q1213.95 568.82%2c 1320 582.77Q1361.8 552.57%2c 1392 594.36Q1457.18 539.54%2c 1512 604.72z' fill='rgba(104%2c 70%2c 50%2c 1)'%3e%3c/path%3e%3cpath d='M1488 900L0 900 L0 797.1Q44.08 769.18%2c 72 813.26Q113.49 782.75%2c 144 824.23Q161.88 770.11%2c 216 787.99Q246.5 698.5%2c 336 729Q378.98 699.98%2c 408 742.96Q508.34 723.3%2c 528 823.64Q538.88 762.52%2c 600 773.4Q630.03 731.43%2c 672 761.47Q721.31 690.78%2c 792 740.08Q806.81 682.89%2c 864 697.71Q937.64 651.35%2c 984 724.99Q1097.64 718.63%2c 1104 832.28Q1104.35 712.63%2c 1224 712.98Q1254.55 671.53%2c 1296 702.08Q1347.58 681.66%2c 1368 733.25Q1462.39 707.64%2c 1488 802.03z' fill='rgba(149%2c 75%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1512 900L0 900 L0 863.19Q71.71 862.9%2c 72 934.61Q80.14 870.75%2c 144 878.9Q162.04 824.94%2c 216 842.98Q252.31 759.29%2c 336 795.59Q385.27 772.87%2c 408 822.14Q504.99 799.13%2c 528 896.12Q577.46 873.58%2c 600 923.04Q645.43 896.47%2c 672 941.91Q677.63 827.54%2c 792 833.17Q819.51 788.68%2c 864 816.19Q889.45 769.64%2c 936 795.1Q1025.69 764.8%2c 1056 854.49Q1098.26 824.75%2c 1128 867.02Q1158.15 777.17%2c 1248 807.33Q1292.84 780.17%2c 1320 825.01Q1398.72 831.73%2c 1392 910.44Q1467.1 865.54%2c 1512 940.64z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1091%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 133%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M1488 900L0 900 L0 510.52Q71.13 461.64%2c 120 532.77Q174.66 515.43%2c 192 570.09Q235.63 541.72%2c 264 585.35Q309.96 511.31%2c 384 557.27Q413.54 466.81%2c 504 496.35Q585.8 458.15%2c 624 539.96Q709.47 505.43%2c 744 590.9Q793.75 520.64%2c 864 570.39Q888.62 523%2c 936 547.62Q963.81 455.43%2c 1056 483.25Q1132.42 439.67%2c 1176 516.09Q1279.11 499.2%2c 1296 602.31Q1319.21 505.51%2c 1416 528.72Q1434.95 475.67%2c 1488 494.62z' fill='rgba(245%2c 198%2c 157%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 626.13Q99.57 605.7%2c 120 705.28Q132.3 597.58%2c 240 609.87Q306.02 555.89%2c 360 621.92Q421.33 611.25%2c 432 672.57Q475.63 596.2%2c 552 639.82Q638.72 606.54%2c 672 693.25Q697.18 598.43%2c 792 623.62Q835.79 595.41%2c 864 639.2Q945.05 600.25%2c 984 681.3Q989.15 614.45%2c 1056 619.61Q1084.65 576.26%2c 1128 604.92Q1182.36 587.28%2c 1200 641.64Q1266.15 635.79%2c 1272 701.94Q1320.13 678.07%2c 1344 726.19Q1345.25 607.44%2c 1464 608.69z' fill='rgba(104%2c 70%2c 50%2c 1)'%3e%3c/path%3e%3cpath d='M1536 900L0 900 L0 834.34Q40.82 755.16%2c 120 795.98Q120 723.99%2c 192 723.99Q221.45 681.44%2c 264 710.9Q371.9 698.8%2c 384 806.7Q431.25 781.95%2c 456 829.2Q475.08 776.28%2c 528 795.35Q516.28 711.63%2c 600 699.92Q654.73 634.65%2c 720 689.38Q792.06 641.44%2c 840 713.51Q915.58 717.09%2c 912 792.67Q977.26 737.93%2c 1032 803.2Q1102.59 753.79%2c 1152 824.38Q1153.41 753.79%2c 1224 755.2Q1261.04 672.24%2c 1344 709.27Q1372.14 665.41%2c 1416 693.55Q1509.78 667.33%2c 1536 761.1z' fill='rgba(149%2c 75%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 823.42Q94.74 798.16%2c 120 892.91Q164.78 817.69%2c 240 862.47Q259.58 810.05%2c 312 829.62Q398.45 796.07%2c 432 882.52Q449.91 828.43%2c 504 846.35Q575.3 797.65%2c 624 868.95Q692.37 817.32%2c 744 885.68Q752.5 822.18%2c 816 830.68Q841.02 783.7%2c 888 808.72Q943.86 792.58%2c 960 848.43Q1061.51 829.94%2c 1080 931.45Q1084.17 863.62%2c 1152 867.79Q1177.19 772.98%2c 1272 798.18Q1341.37 747.55%2c 1392 816.92Q1455.26 808.17%2c 1464 871.43z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1091'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
     background-color: #ae863032;
     /* position:absolute */
    background-size: auto;

 }

 .bg1 {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 133%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c421 C 48%2c350.8 144%2c88.8 240%2c70 C 336%2c51.2 384%2c309.4 480%2c327 C 576%2c344.6 624%2c173.6 720%2c158 C 816%2c142.4 864%2c274.8 960%2c249 C 1056%2c223.2 1104%2c12.6 1200%2c29 C 1296%2c45.4 1392%2c270.6 1440%2c331L1440 900L0 900z' fill='rgba(104%2c 70%2c 50%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c731 C 96%2c700.8 288%2c549.8 480%2c580 C 672%2c610.2 768%2c876.2 960%2c882 C 1152%2c887.8 1344%2c663.6 1440%2c609L1440 900L0 900z' fill='rgba(238%2c 175%2c 54%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

 }
 .bg2 {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1989%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1990%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1488 900L0 900 L0 541.56Q-5.76 415.8%2c 120 410.04Q290.17 460.21%2c 240 630.38Q217.47 487.85%2c 360 465.32Q370.35 403.67%2c 432 414.02Q502.28 412.3%2c 504 482.59Q606 512.59%2c 576 614.59Q560.12 478.71%2c 696 462.82Q724.39 419.21%2c 768 447.6Q795.58 403.18%2c 840 430.75Q864.34 383.09%2c 912 407.42Q998.29 373.71%2c 1032 460Q1077.57 385.57%2c 1152 431.14Q1200.32 359.46%2c 1272 407.78Q1327.37 391.14%2c 1344 446.51Q1415.38 445.89%2c 1416 517.28Q1478.68 507.96%2c 1488 570.64z' fill='rgba(110%2c 103%2c 95%2c 1)'%3e%3c/path%3e%3cpath d='M1536 900L0 900 L0 733.95Q33.96 695.91%2c 72 729.87Q69.77 655.64%2c 144 653.41Q165.13 554.54%2c 264 575.68Q306.15 545.83%2c 336 587.97Q388.85 568.82%2c 408 621.67Q459.67 601.34%2c 480 653Q565.5 666.5%2c 552 751.99Q636.36 716.35%2c 672 800.71Q699.08 755.79%2c 744 782.86Q749.5 716.36%2c 816 721.86Q832.78 666.64%2c 888 683.42Q898.01 573.43%2c 1008 583.45Q1076.63 580.08%2c 1080 648.71Q1164.41 613.12%2c 1200 697.53Q1268.22 693.75%2c 1272 761.98Q1321.26 739.24%2c 1344 788.5Q1347.17 719.67%2c 1416 722.84Q1446.15 633%2c 1536 663.15z' fill='rgba(140%2c 138%2c 135%2c 0.91)'%3e%3c/path%3e%3cpath d='M1512 900L0 900 L0 797.49Q93.11 770.6%2c 120 863.7Q171.02 842.72%2c 192 893.74Q219.89 849.63%2c 264 877.52Q260.48 754%2c 384 750.48Q446.59 741.07%2c 456 803.66Q564.82 840.48%2c 528 949.31Q464.48 813.79%2c 600 750.27Q765.16 795.43%2c 720 960.59Q712.5 833.09%2c 840 825.58Q857.6 771.18%2c 912 788.78Q959.72 764.5%2c 984 812.21Q1014.37 722.58%2c 1104 752.95Q1145.64 722.6%2c 1176 764.24Q1258.07 774.31%2c 1248 856.38Q1289.79 826.17%2c 1320 867.96Q1359.4 787.36%2c 1440 826.76Q1436.32 751.08%2c 1512 747.39z' fill='rgba(70%2c 65%2c 60%2c 0.88)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1989'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='9.37%25' y1='-15%25' x2='90.63%25' y2='115%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1990'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 9%2c 16%2c 0.86)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
 }


 .title {

     margin: .5rem;
 }

 .container {
     padding: 0.24rem;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;

 }



 .note-text {
     font-size: .75rem;
     color: var(--text-color);
     /*   background-color: #0f6e9d19; */
     /*    box-shadow: 8px 8px #0f6e9d19; */
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     border-radius: 2px;
     padding: .2rem;

 }


 .container2 {
     padding: 0.24rem;
     display: flex;
     align-items: start;
     justify-content: center;
     flex-direction: row-reverse;
     flex-wrap: wrap;

 }

 .container3 {
     display: flex;
     /*    min-height: 50vh; */

 }

 .canvas {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     flex-wrap: wrap;
     /*     border: 5px solid blue; */
     border-radius: 15px;
     margin-left: 1rem;
     justify-items: center;
 }

 .canvas h1{
    margin-left:1rem
 }

 .canvas h1 {
     color: var(--text-color);
     text-align: center;
 }

 .canvas-box {
     display: grid;
     border: 5px solid rgb(61, 31, 1);
     border-radius: 15px;
     grid-template-columns: 1fr 1fr 1fr;
 }

 .cursor {
     cursor: pointer;
 }

 .note-edited {
     font-size: .6rem;
     color: var(--text-color);
     font-family: 'Times New Roman', Times, serif;

     padding: 0.2rem;

 }


 .container4 {
     display: inline-flex;
     justify-content: space-around;
     align-content: center;
     width: 100%;
 }

 .note {

     margin: 0.5rem;
     max-width: 20vw;
     min-width: 20vw;
     border: 3px groove #1a130d;
     border-radius: 12px;
     min-width: 12rem;

     min-height: 7rem;
     color: var(--text-color);
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-family: Calibri, 'Trebuchet MS', sans-serif;
     background-color: var(--terciary);
     box-shadow: rgba(38, 38, 57, 0.56) 0px 50px 100px -20px, rgba(0, 0, 0, 0.475) 0px 30px 60px -30px;
     transition: 0.4s all;
     position: relative;


 }

 .note:hover {
     background-color: var(--terciary);
     box-shadow: rgba(32, 32, 33, 0.815) 15px 15px 15px -2px, rgba(0, 0, 0, 0.475) 15px 3px 60px -3px;
     transform: translateY(-7px);

     ;

 }

 .note.selected {
     transform: scale(.8) rotate(-1deg);
     background-color: rgba(187, 158, 72, 0.596);
 }

 .note.drag {
     opacity: 0.5;
 }

 .note-tags {
     /*  background-color: var(--primary); */

     display: block;
     width: 100%;
     height: 33%;
     ;
     text-align: center;
     border-radius: 20rem;

 }

 .note-title {
     color: rgb(244, 231, 231);
     text-transform: capitalize;

     letter-spacing: 1.2px;
     /*     text-shadow: 7px 7px 4px rgb(70, 69, 69),
         5px 5px 4px rgb(70, 69, 69),
         2px 2px 2px rgb(70, 69, 69),
         0px 0px 4px rgb(70, 69, 69); */
 }



 .tag {
     background-color:#393b3a;
     border-radius: 8px;
     padding: 0.1rem 0.35rem;
     box-shadow: 1px 1px 0px 0px #bfbaabca;
     /*   border: 0.5px solid rgb(53, 35, 8); */
     color:var(--text-color);
      
     margin: 1.5rem 0.2rem;
     transition: 0.2s all;
    letter-spacing: 1.05px;
     font-size: .55rem;
     font-weight: 200;
     font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }
/* 
 .tag:hover {
     color: #f4daa6;
     background-color: #875c05;
     transform: rotate(20deg);
 } */

 .options,
 select option {
     background-color: rgb(5, 81, 147);
     color: rgb(250, 248, 248);
     border-radius: 5px;
 }





 .filter {
     margin: 1rem;
 }

 .form input,
 button,
 textarea {
     border-radius: 10px;
     border: 2px solid rgb(97, 75, 2);
     padding: .5rem;
     margin: .4rem 2.4rem;
     background: transparent;
     background-color: rgba(104, 103, 103, 0.499);
     color: white;
 }

 label {
     color: #efeae0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 0.2rem;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 1.25rem;
 }


 .note-btn {
     margin-top: 0.95rem;
     font-size: 1.5rem;
     fill: #875c05;
     transition: 0.4s transform, .4s rotate, .2s fill;
 }

 .note-btn:hover {
     transform: scale(1.2);
     rotate: calc(360deg);
     fill: #cf8c06;
 }

 .note-btn:active {
     fill: #543801;
     transform: scale(.85);
 }

 .test-dialog {

     border-radius: 15px;
     /*      border-radius : 190px 190px 25px 25px; */
     /*             clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
     border: none;
     padding: 1.01rem;
     margin: auto;
     border: 5px solid rgb(75, 58, 1);
     /*          display: flex;
            flex-direction: column; */
     /*     background-color: var(--primary); */
/*      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1091%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 133%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M1488 900L0 900 L0 510.52Q71.13 461.64%2c 120 532.77Q174.66 515.43%2c 192 570.09Q235.63 541.72%2c 264 585.35Q309.96 511.31%2c 384 557.27Q413.54 466.81%2c 504 496.35Q585.8 458.15%2c 624 539.96Q709.47 505.43%2c 744 590.9Q793.75 520.64%2c 864 570.39Q888.62 523%2c 936 547.62Q963.81 455.43%2c 1056 483.25Q1132.42 439.67%2c 1176 516.09Q1279.11 499.2%2c 1296 602.31Q1319.21 505.51%2c 1416 528.72Q1434.95 475.67%2c 1488 494.62z' fill='rgba(245%2c 198%2c 157%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 626.13Q99.57 605.7%2c 120 705.28Q132.3 597.58%2c 240 609.87Q306.02 555.89%2c 360 621.92Q421.33 611.25%2c 432 672.57Q475.63 596.2%2c 552 639.82Q638.72 606.54%2c 672 693.25Q697.18 598.43%2c 792 623.62Q835.79 595.41%2c 864 639.2Q945.05 600.25%2c 984 681.3Q989.15 614.45%2c 1056 619.61Q1084.65 576.26%2c 1128 604.92Q1182.36 587.28%2c 1200 641.64Q1266.15 635.79%2c 1272 701.94Q1320.13 678.07%2c 1344 726.19Q1345.25 607.44%2c 1464 608.69z' fill='rgba(104%2c 70%2c 50%2c 1)'%3e%3c/path%3e%3cpath d='M1536 900L0 900 L0 834.34Q40.82 755.16%2c 120 795.98Q120 723.99%2c 192 723.99Q221.45 681.44%2c 264 710.9Q371.9 698.8%2c 384 806.7Q431.25 781.95%2c 456 829.2Q475.08 776.28%2c 528 795.35Q516.28 711.63%2c 600 699.92Q654.73 634.65%2c 720 689.38Q792.06 641.44%2c 840 713.51Q915.58 717.09%2c 912 792.67Q977.26 737.93%2c 1032 803.2Q1102.59 753.79%2c 1152 824.38Q1153.41 753.79%2c 1224 755.2Q1261.04 672.24%2c 1344 709.27Q1372.14 665.41%2c 1416 693.55Q1509.78 667.33%2c 1536 761.1z' fill='rgba(149%2c 75%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 823.42Q94.74 798.16%2c 120 892.91Q164.78 817.69%2c 240 862.47Q259.58 810.05%2c 312 829.62Q398.45 796.07%2c 432 882.52Q449.91 828.43%2c 504 846.35Q575.3 797.65%2c 624 868.95Q692.37 817.32%2c 744 885.68Q752.5 822.18%2c 816 830.68Q841.02 783.7%2c 888 808.72Q943.86 792.58%2c 960 848.43Q1061.51 829.94%2c 1080 931.45Q1084.17 863.62%2c 1152 867.79Q1177.19 772.98%2c 1272 798.18Q1341.37 747.55%2c 1392 816.92Q1455.26 808.17%2c 1464 871.43z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1091'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
 */   
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1337%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1338%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1464 900L0 900 L0 660.81Q-41.45 547.36%2c 72 505.9Q158.99 472.89%2c 192 559.88Q209.81 505.69%2c 264 523.51Q291.98 479.49%2c 336 507.46Q387.02 438.48%2c 456 489.49Q550.06 463.55%2c 576 557.6Q667.3 528.9%2c 696 620.2Q737.5 589.7%2c 768 631.19Q775.99 567.18%2c 840 575.18Q890.11 505.29%2c 960 555.4Q1053.3 528.7%2c 1080 622.01Q1114.43 536.44%2c 1200 570.87Q1241.77 540.64%2c 1272 582.41Q1327.12 565.52%2c 1344 620.64Q1410.62 567.26%2c 1464 633.88z' fill='rgba(208%2c 112%2c 16%2c 0.8)'%3e%3c/path%3e%3cpath d='M1488 900L0 900 L0 752.24Q40.45 720.69%2c 72 761.15Q100.74 669.89%2c 192 698.64Q193.88 628.52%2c 264 630.41Q363.86 610.26%2c 384 710.12Q470.37 724.49%2c 456 810.86Q437.94 672.8%2c 576 654.73Q624.78 583.51%2c 696 632.3Q748.92 613.22%2c 768 666.14Q834.38 660.52%2c 840 726.91Q884.5 699.41%2c 912 743.92Q977.98 689.89%2c 1032 755.87Q1066.45 670.32%2c 1152 704.77Q1174.8 607.57%2c 1272 630.37Q1317.01 603.38%2c 1344 648.39Q1392.2 624.59%2c 1416 672.79Q1476.74 661.53%2c 1488 722.27z' fill='rgba(253%2c 252%2c 252%2c 0.82)'%3e%3c/path%3e%3cpath d='M1560 900L0 900 L0 952.15Q-31.61 800.53%2c 120 768.92Q256.09 785%2c 240 921.09Q229.52 790.62%2c 360 780.14Q414.94 715.08%2c 480 770.02Q542.64 760.66%2c 552 823.3Q623.85 823.15%2c 624 895Q683.26 882.26%2c 696 941.52Q744.59 870.11%2c 816 918.7Q866.95 849.65%2c 936 900.61Q949.58 842.19%2c 1008 855.77Q1021.45 749.22%2c 1128 762.67Q1200.38 715.06%2c 1248 787.44Q1349.85 817.29%2c 1320 919.14Q1304.13 783.27%2c 1440 767.4Q1500.85 708.25%2c 1560 769.09z' fill='rgba(104%2c 70%2c 50%2c 0.8)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1337'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='9.37%25' y1='-15%25' x2='90.63%25' y2='115%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1338'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(87%2c 136%2c 199%2c 0.86)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
     box-shadow: 0 0 2rem 1rem rgb(64, 63, 63);
     position: relative;

 }



 dialog::backdrop {
     background-color: rgba(141, 141, 131, 0.755);
 }


 .close-dialog {
     display: inline-block;
     text-align: right;
     font-size: 1.25rem;
     position: absolute;
     /* Cambiar a posición absoluta */
     top: 1rem;
     /* Ajustar la posición vertical */
     right: 1rem;
     /* Ajustar la posición a la derecha */
     margin-left: auto;
     fill: #750505;
     transition: 0.4s transform, .4s rotate, 0.4s fill;
 }

 .close-dialog:hover {
     transform: scale(1.2);
     rotate: calc(720deg);
     fill: #fd2109;
 }

 .close-dialog:active {
     fill: #791106;
     transform: scale(.85);
 }

 .tag-btn {
     color: #574603;
     background-color: #dbae1b7a;
     border-radius: 50%;
     font-size: 0.5rem;
     font-weight: bolder;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     letter-spacing: 1.4px;
     transition: 0.4s all;

 }

 .tag-btn:hover {
     background-color: #f5c9387a;
     color: #342a01;
     transform: translateY(-2px);

 }

 .tag-btn:active {
     background-color: #b38b057a;
     color: #e9c948;
     transform: translateY(-2px) rotate(90deg) scale(0.85);



 }

 .delete,
 .update,
 .archived {
     fill: var(--enemy);
     transition: all 0.4s;
     font-size: .75rem;
 }

 .delete:hover,
 .update:hover,
 .archived:hover {
     fill: #8a7210;

 }

 .delete:active,
 .update:active,
 .archived:active {
     fill: #403403;
 }

 .highlight {
     background-color: var(--brown);
     opacity:1.2;
 
 }

 #btn-color {
     padding: 0.25rem;
     background-color: transparent;
     border-color: var(--primary);
 }

 .hide {
     /*      transform: translate(-950px); */
     display: none;
 }

 @media screen and (max-width: 750px) {
     .grid {
         grid-template-columns: 1fr;
     }

     .form input,
     button,
     textarea {

         margin: .4rem 0.8rem;

     }

     body {
         background-size: auto;
         background-repeat: no-repeat;

     }

     .canvas-box {
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
     }
 
 }
 

 .svg-inline--fa.fa-w-14 {
     font-size: 1.25rem;
 }

 @media screen and (min-width:800px) {

     
 }

 
 @media screen and (min-width:1400px) {

    body {
        background-size: cover;
    
    
    }}